table {
    margin-top: 10px;
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
}

table, th, td {
    border-collapse: collapse;
}

th, td {
    padding: 15px;
}

th {
    background-color: #444;
    color: white;
}

#message {
    font-size: 80%;
}

#message:first-line {
    font-size: 125%;
}

tr:nth-child(odd) {
    background-color: #EEE;
}

tr:nth-child(even) {
    background-color: #DDD;
}

#commitLink {
    text-decoration: none;
    color: black;
}

body {
    margin: 0;
    padding: 0;
    font-family: verdana;
}

form {
    background-color: #444;
    color: white;
    padding: 15px;
    display: flex;
    align-items: center;
}

input {
    border: none;
    border-radius: 4px;
    padding: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

.result {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #EEE;
    margin: 20px;
    padding: 10px;
    border-radius: 5px;
}

.error {
    background-color: #ffa6a5;
}

.github {
    display: inline-block;
    text-align: right;
    margin-left: auto;
}

#errorChart, #ratioChart {
    width: 450px;
    height: 250px;
}